/*RESPONSIVE DESIGN*/

@media only screen and (max-width: 720px) {
  nav ul{
    width: 100%;
  }
  nav ul a{
    width: 25%;
  }
  .container{
    width: 100%;
    padding-top: 80px;
    padding-left: 10px;
  }
  .container h1{
    font-size: 48px;
    padding-bottom: 10px;
  }
  .container h3{
    font-size: 22px;
    letter-spacing: 1px;
  }
  .wtf{
    font-size: 16px;
    line-height: 1.25em;
  }
  .btn:hover,
  .btn:active{
    color: #fff;
    background-color: #2980b9;
  }
}

@media only screen and (max-width: 320px){
  nav ul a{
    display: table;
    width: 50%;
  }
  nav li{
    display: table-cell;
  }
}
