/*RESPONSIVE DESIGN*/

@media only screen and (max-width: 720px) {
  nav{
    height: 50px;
    padding-right: 0;
  }
  nav ul{
    width: 100%;
  }
  nav ul a{
    width: 25%;
  }
  nav li{
    padding-top: 15px;
  }
  .container{
    width: 100%;
    padding-top: 40px;
    padding-left: 10px;
  }
  .container h3{
    letter-spacing: 1px;
  }
  .wtf{
    font-size: 16px;
    line-height: 1.25em;
  }
  .hero--left,
  .hero--right{
    width: 100%;
    float: none;
  }
  .hero--right{
    margin-top: 10px;
  }
  .width-def-block{
    width: 80%;
  }
  .width-def-block-list{
    width: 275px;
  }
  .container h2{
    font-size: 16px;
  }
  .btn code{
    font-size: 12px;
    font-weight: normal;
  }
  .exit{
    text-align: center;
    font-weight: 300;
    font-size: 8px;
  }
}

@media only screen and (max-width: 320px){

  nav li{
    display: inline-block;
  }
  .container h1{
  }
  .container h3{
  }
}
