/*RESPONSIVE DESIGN*/

@media only screen and (max-width: 720px) {
  nav{
    padding-right: 0;
  }
  nav ul a{
    width: 33.3333%;
  }
  .container{
    width: 100%;
    padding: 40px 10px 10px 10px;
  }
  .container div.hero{
  	width: 95%;
  	border-left: 5px solid #fff;
  	border-bottom: 5px solid #fff;
  	padding-left: 10px;
  }
  .container div h3,
  .container div h2{
    font-size: 1.2em;
    font-weight: 400;
  }
  .wtf{
    font-size: 16px;
    line-height: 1.25em;
  }
  .wtf p{
    width: 100%;
  }
  .hero--left,
  .hero--right{
    width: 100%;
    float: none;
  }
  .hero--right{
    margin-top: 10px;
  }
  .width-def-block{
    width: 80%;
  }
  .width-def-block-list{
    width: 275px;
  }
  .btn code{
    font-size: 12px;
    font-weight: normal;
  }
  .exit{
    text-align: center;
    font-weight: 300;
    font-size: 8px;
  }
  .form div{
    width: 100%;
  }
  input[type=text]:focus,
  textarea:focus{
    outline: none !important;
    background:rgba(255,255,255,1);
    color: #222;
    border: 5px solid #fff;
    transform: scale(1);
  }
  .set-width-70{
    width: 95%;
  }
}

@media only screen and (max-width: 320px){

  nav li{
    display: inline-block;
  }
  .container h1{
  }
  .container h3{
  }
}
